*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{/*usar root es importante para despues cuando queramos hacer cambios masivos*/
    --primary:#18db86;
    --secondary:#ffff;
    --secondary-light:rgb(173, 173, 173);
    --dark1:#222222;
    --dark2:#050505;
}
body{
    font-size: 18px;
    font-family:'Signika', sans-serif;
    color: var(--secondary);
}
.navbar{
    display: flex;
    justify-content: flex-end;
}
.navbar ul{
    display: flex;
    list-style:none;
}
.navbar a{
    font-size: 1.5rem;
    padding: 10px;
    text-decoration: none;
    color: white;
    margin: 20px;
}
.navbar a:hover{
    border-bottom: var(--primary) solid;
}
.hero{
    background-color: var(--dark2);
    position: relative;
}
.hero img{
    width: 130%;
    opacity:0.45;
}
span{
    color: var(--primary);
}
/*codigo para el circulo de perfil o circucle profile*/
.profile div{
    position: absolute;
}
.profile{
    display: flex;
    justify-content: center;
}
.square{
    width: 320px;
    height: 430px;
    background-color: var(--dark1);
    opacity: 0.7;
    z-index: 10;
    top: 40px;
}
.circle-trans{
    width: 250px;
    height: 250px;
    border-radius: 30%;
    border: solid 30px var(--primary);
    opacity: .2;
    z-index: 19;
    top: 64px;
}
.circle{
    width: 220px;
    height: 220px;
    border-radius: 30%;
    border: solid 15px var(--primary);
    z-index: 21;
    top: 80px;
}
.profile-img{
    top: 90px;
    z-index: 20;
}

.profile-img img{
    width: 194px;
    height: 205px;
    border-radius: 31%;
}
.square-text{
    font-size: 1.9rem;
    color: var(--secondary);
    top: 319px;
    z-index: 11;
}
.square-text-2{
    font-size: .83rem;
    color: var(--secondary);
    top: 368px;
    z-index: 12;
}
.square-text-3{
    font-size: 1.3rem;
    color: var(--secondary);
    top: 435px;
    z-index: 11;
}
.square-text-3:hover{
    border-bottom: var(--primary) solid;
}
.square-text-3 a{
    color: var(--secondary);
    text-decoration: none;
}
.contact-icon{
top: 394px;
z-index: 11;
}
.contact-icon img{
    width:40px;
    height: 40px;
    margin: 0 3px;
}
.contact-icon img:hover{
    transform: scale(1.5);
}
